
.scroll-bloc {
    &.vertical-only {
        .jspHorizontalBar { display: none; }
    }
    .jspVerticalBar  {
        background: none;

    }
    .jspTrack {
        background-color: rgba(0,0,0,0.15);
        border-radius: 16px;
        width: 12px;
        height: 100%;
        margin: 0 auto;
    }
    .jspDrag {
        background-color: rgba(0,0,0,0.75);
        border-radius: 16px;
        margin: 0 auto;
        width: 8px;
    }
}
