
#videoContainer {
	width: 100%;
	margin: 0;
	height: 100%;
	position: relative;
	background-color: black;
	cursor: pointer;
	.storyBtn {
		right: 13%;
		position: absolute;
		top: 40%;
		z-index: 10;
		border: 0;
		background-color: $rouge;
		color: white;
		font-size: 40px;
		width: 36px;
		height: 36px;
		-o-transform: rotate(45deg);
		cursor:pointer;
		&:before{
			content:'+';
			position: relative;
			display: block;
			transform: rotate(45deg);
			right: -1px;
			top: -10px;
		}
		&:after{
			opacity: 0;
			border: 2px solid #ffffff;
			content: "";
			height: 49px;
			left: -7px;
			position: absolute;
			display: block;
			top: -7px;
			width: 49px;
			transition: opacity 0.1s linear;
		}

		&:hover:after{
			opacity: 1.0;
		}
	}
	.textVideo {
		position: absolute;
		bottom: 20%;
		left: 3%;
		z-index: 10;
		color: white;
		display: none;
		pointer-events: none;
		h2 {
			font-size:50px;
		}
	}
	#progressBar {
		position: absolute;
		z-index: 1;
		margin: 0 auto;
		left: 0;
		right: 0;
		bottom: 40px;
		background-color: white;
		height: 2px;
		width: 41%;
		#jauge {
			width: 0%;
			height: 100%;
			background-color: $rouge;
		}
		.chapter {
			background-color: #ffffff;
			border-radius: 50%;
			height: 14px;
			position: absolute;
			top: -6px;
			width: 14px;
			&.active {
				background-color: $rouge;
			}
			&:before {
				opacity: 0;
				border: 2px solid #ffffff;
				border-radius: 50%;
				content: "";
				height: 28px;
				left: -7px;
				position: absolute;
				top: -7px;
				width: 28px;
				transition: opacity 0.2s linear;
			}
			&:hover:before {
				opacity: 1.0;
			}
		}
	}
}
.respectueuse-bloc {
	background: #fff url('../images/bg-respectueuse.png') no-repeat center top;
	background-size: cover;
	position: relative;
	z-index: 1;
	padding:145px 0 125px;
	.container {
		@extend %clearfix
	}
	.titre-content {
		position:relative;
	}
	.block-left {
		float:left;
		width:35%;
	}
	.block-right {
		float:right;
		width:58%;
	}
	.inner-content {
		padding: 0 20px;
	}
	.desc-bloc {
		padding: 20px 0 0 20px;
	}
	.titre-content {
		margin-bottom: 15px;
	}
	.visuel-bloc {
		height: 140px;
		margin-top: 25px;
		position: relative;
		z-index: 0;
		figure {
			height: 100%;
			img {
				height: 100%;
				object-fit: cover;
				width: 100%;
			}
		}
	}
	.sectionNumber {
		left: -105px;
		top: 0;
	}
	h2 {
		color: #f05238;
	}
	h3 {
		color: #000;
		font-family: $fontMuseoSans;
		font-size: 16px;
		font-weight: 900;
		text-transform: uppercase;
	}
	.btn-voirplus {
		left: auto;
		right: 30px;
		top: 15px;
	}
}
.economes-bloc {
	background-color: #f7f6f2;
	.bannieres-img {
		margin: 0 0 70px;
		img {
			height: 140px;
			object-fit: cover;
			width: 100%;
		}
	}
	.inner-content {
		padding: 0 20px 20px;
	}
	.desc-bloc {
		margin-bottom: 20px;
		position: relative;
		text-align: center;
		z-index: 0;
		h2 {
			font-size: 24px;
			position: relative;
			text-align: left;
			z-index: 1;
		}
		.titre-content {
			margin-bottom: 15px;
		}
		.chapo {
			p {
				font-size: 14px;
			}
		}
	}
	.sectionNumber {
		right: 0;
		top: 0;
		z-index: 0;
	}
	.listing-bloc {
		display:flex;
		justify-content: space-between;
		.col-sm-4 {
			width:30%;
			display:flex;
			flex-direction: column;
		}
		.content-bloc {
			margin-bottom: 30px;
		}
		.titre-content {
			flex:auto;
			margin-bottom: 15px;
		}
		h3 {
			color: #000;
			font-family: $fontMochaMattari;
			font-size: 20px;
			font-weight: 700;
			line-height: .95em;
			margin-bottom: 12px;
			text-transform: uppercase;
		}
		.img-bloc {
			a {
				display: block;
				position: relative;
				&:focus {
					outline: none;
				}
				&:hover {
					text-decoration: none;
					.hover-bloc {
						display: block;
					}
				}
				> span {
					color: #000;
					display: block;
					font-family: $fontLato;
					font-size: 15px;
					line-height: 100%;
					margin-top: 10px;
					text-align: center;
				}
			}
			img {
				display: inline-block;
			}

			figure {
				position: relative;
				text-align: center;
				.hover-bloc {
					background-color: #f7f6f2;
					display: none;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					img {

					}
				}
			}
		}
	}
}
.ecoresponsable-bloc {
	background:  url('../images/img-transition-plume2.png') top center repeat-x, url('../images/bg-wood.png') top center no-repeat;
	background-size: auto, cover;
	padding:80px 20px;
	.desc-bloc {
		padding-left: 20px;
		position: relative;
	}
	.sectionNumber {
		left: 0;
		opacity: 0.4;
		top: 0;
	}
	h2 {
		font-size: 24px;
		margin-bottom: 10px;
		padding: 20px 0;
		span {
			color: #fff;
		}
	}
	h3 {
		color: #fff;
		font-family: $fontMochaMattari;
		font-size: 35px;
		margin-bottom: 10px;
	}
	p {
		color: #fff;
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
		strong {
			font-weight: 800;
		}
	}
	.text-bloc {
		margin-bottom: 18px;
		padding-left: 20px;
		display: flex;
		justify-content: space-between;
		.content-bloc {
			width:40%;
		}
		.content-bloc {
			margin-bottom: 20px;
		}
	}
	.wrap-btn {
		text-align: center;
		a {
			background-color: #f05238;
			border-radius: 0;
			color: #fff;
			display: inline-block;
			font-family: $fontLato;
			font-size: 14px;
			font-weight: 800;
			padding: 10px 10px;
			text-transform: uppercase;
		}
	}
}
