.banner {
    height: 100vh;
    border: 10px solid $white;
    background-size: cover;
    background-position: 50% 0;
    position: relative;
    @include media('<desktop') {
        height:550px;
    }
    @include media('<tablet') {
        height: 330px;
        border: none;
        background-attachment: scroll;
    }
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($black, .15);
        @include media('<tablet') {
            background-color: rgba($black, .15);
        }
    }
    .h1 {
        color: $white;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        text-align: center;
        transform: translateY(-50%);
        max-width: 520px;
        text-transform: uppercase;
        margin: 0 auto;
        padding-bottom: 36px;
        line-height: 1;
        width: 100%;
        @include media('<tablet') {
            top: 37%;
            padding: 0 20px;
        }
        @include media('<phone') {
         font-size:32px;
     }
 }
 .scroll-link {
    @include animate(opacity);
    position: absolute;
    left: 50%;
    bottom: 90px;
    transform: translate3d(-50%, 0, 0);
    font-family: $base-font-serif;
    font-size: 51px;
    color: $white;
    text-decoration: none;
    text-align: center;
    cursor:pointer;
    z-index:10;
    @include media('<desktop') {
        font-size: 30px;
    }
    @include media('<tablet') {
        left: 0;
        right: 0;
        width: 100%;
        transform: translateX(0);
        font-size: 25px;
        bottom: 73px;
    }
    @include media('<phone') {
        bottom:55px;
    }
    a {
        color: inherit;
    }
    &:hover {
        opacity: .7;
    }
    .link-text {
        transform: rotate(-7deg);
        display: inline-block;
        position: relative;
        &:before {
            content: '';
            width: 129px;
            height: 26px;
            background-image: url("../images/stroke.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            position: absolute;
            left: 50%;
            transform: translate3d(-50%, 0, 0) rotate(7deg);
            bottom: -2px;
            @include media('<desktop') {
                width: 73px;
                height: 16px;
            }
            @include media('<tablet') {
                width: 63px;
                height: 13px;
            }
        }
    }
    .scroll-icon {
        @include animate(border-color);
        display: inline-block;
        border: 2px solid rgba($white, .8);
        width: 31px;
        height: 31px;
        transform: rotate(45deg) translate3d(-50%, 0, 0);
        position: absolute;
        left: 50%;
        bottom: -56px;
        margin-left: -4px;
        animation: scroll-move 3s infinite;
        @include media('<tablet') {
            width: 17px;
            height: 17px;
            animation: scroll-move 1s infinite;
        }
        &:hover {
            opacity: 0.7;
        }
        &:before {
            content:'';
            position:absolute;
            left:-10px;
            top:-10px;
            right:-10px;
            bottom:-10px;
        }
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-60%, -60%);
            width: 14px;
            height: 14px;
            border: 1px solid $white;
            border-width: 0 1px 1px 0;
            border-color: inherit;
            @include media('<tablet') {
                width: 7px;
                height: 7px;
            }
        }
    }
}
.holder-center,
.holder-left {
    position: absolute;
    width: 90%;
    top: 85px;
    left:87px;
    z-index:2;
    color: #fff;
    font: bold 16px/19px $fontLato;
    @include media('<tablet') {
        font-size:12px;
        line-height:14px;
        top: 55px;
        left: 10px;
        width:90%;
    }
    @include media('<phone') {
        top:45px;
        width:100%;
        padding:0 40px 0 0;
    }
    h1 {
        color: #fff;
        font: 82px/84px $fontMochaMattari;
        margin-bottom: 7px;
        letter-spacing:0.7px;
        @include media('<desktop') {
            font-size:58px;
            line-height:60px;
        }
        @include media('<tablet') {
            font-size:40px;
            line-height:42px;
            margin:0 0 16px;
        }
    }
    p {
        margin:0;
    }
}
.holder-center {
    text-align:center;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    @include media('<phone') {
        padding:0 15px;
    }
}
}

.banner-decoration {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 64px;
    background-image: url("../images/banner-decoration.png");
    background-position: 50% 100%;
    background-repeat: repeat-x;
}

@keyframes scroll-move {
    from {
        bottom: -40px;
    }
    50% {
        bottom: -75px;
    }
    to {
        bottom: -40px;
    }
}

@include media('<tablet') {
    @keyframes scroll-move {
        from {
            bottom: -30px;
        }
        50% {
            bottom: -40px;
        }
        to {
            bottom: -30px;
        }
    }
}
