/* diagram holder style */

.diagram-holder {
	margin:0 0 25px;
	.title-holder {
		font-family: 'museo_sans','Times', 'Baskerville', 'Georgia', serif;;
		text-align:center;
		color:#f05238;
		text-transform:uppercase;
		max-width:560px;
		padding:0 15px;
		margin:0 auto 43px;
		position:relative;
		@include media('<tablet') {
			margin:0 auto 31px;
		}
		h2,
		h3 {
			font-size:30px;
			line-height:32px;
			color:#f05238;
			margin:0 0 7px;
			@include media('<tablet') {
				font-size: 19px;
				line-height: 23px;
				letter-spacing: 1px;
				margin:0 0 13px;
			}
		}
		h3 {
			font-size:20px;
			line-height:22px;
			color:$black;
			@include media('<tablet') {
				font-size: 10px;
				line-height: 16px;
				letter-spacing: 0;
			}
		}
	}
}

.number {
	font:128px/128px 'museo_sans';
	position:absolute;
	left: 52%;
	top: 28%;
	transform:translate(-50%,-50%);
	color:#eee;
	z-index:-1;
	@include media('<tablet') {
		font-size: 64px;
		line-height: 66px;
		top:14%;
	}
}

.sr {
	.sr-item{
		visibility: hidden;
	}
}

.home {
	.visible{
		opacity: 0;
		transition:1.5s cubic-bezier(.44,.47,.23,1) ;
	}
}

.containsvg {
	@include media('<tablet') {
		display:none;
	}
}

.containsvg-mobile {
	display:none;
	@include media('<tablet') {
		display:block;
		padding:0 20px 55px;
	}
}