/* images-list style */

.images-list-holder {
	display: flex;
	justify-content: space-between;
	margin:0 0 111px;
	.img-box {
		width:20%;
		&:nth-child(2n) {
			margin:48px 0 0;
		}
	}
	img {
		width:100%;
		vertical-align:top;
	}
}