/* menu slider style */

.secret-wrap {
	.modal-dialog,
	.modal-content,
	.modal-body,
	.menu-slider {
		height:100%;
	}
}

.menu-slider {
	font: 22px/24px 'la_belle_auroreregular';
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	color:#fff;
	@include media('<tablet') {
		font-size:16px;
		line-height:18px;
	}
	.swiper-wrapper {
		height:auto;
	}
	.swiper-button-prev,
	.swiper-button-next {
		@include media('<desktop') {
			left:20px;
		}
		&:hover {
			opacity:.8;
		}
	}
	.swiper-button-next {
		@include media('<desktop') {
			left:auto;
			right:20px;
		}
	}
	.text-holder {
		margin:0 0 0 88px;
		padding:30px 0;
		max-width:500px;
		float:left;
		@include media('<desktop') {
			margin:0 48px;
		}
		.author {
			font: 19px/21px 'robotothin';
			float:right;
			margin:35px 0 0;
			@include media('<tablet') {
				font-size:14px;
				line-height:16px;
			}
		}
		h3 {
			font-size:61px;
			line-height:63px;
			font-weight:normal;
			margin:0 0 10px;
			@include media('<tablet') {
				font-size:30px;
				line-height:32px;
			}
		}
		p {
			margin:0;
		}
	}
}