.body-holder {
	&#section3 {
		background: #fff url('../images/bg-chefdexploitations.png') no-repeat 0 25px;
	}
}

.modal-header {
	border: none;
	padding: 0;
	position: absolute;
	top: 11px;
	right: 11px;
	z-index: 2;
}