.body-holder {
	&#eleverus {
		background: #fff url('../images/bg-chefdexploitations.png') no-repeat 0 111px;
		@include media('<tablet') {
			background:none;
		}
	}
}

.step-holder {
	.text-holder {
		font-weight:bold;
		color:#000;
		line-height: 1.35em;
		@include media('<tablet') {
			font-size:13px;
			line-height:15px;
		}
		strong {
			font-weight:900;
		}
	}
	.img-holder {
		figure {
			position: relative;
			img {
				max-width: 100%;
				position: relative;
				z-index: 2;
			}
		}
	}
	.title {
		h2 {
			color: #f05238;
			font-family: $fontMuseoSans;
			font-size: 24px;
			font-weight: 900;
			line-height: 100%;
			margin: 0;
			position: relative;
			text-transform: uppercase;
			z-index: 1;
			@include media('<desktop') {
				font-size:22px;
				line-height:24px;
			}
			@include media('<tablet') {
				font-size:29px;
				line-height:31px;
			}
			span {
				color: #000;
			}
		}
	}
	h3 {
		margin: 0;
	}
	img {
		width:100%;
	}
	p {
		margin:0;
	}
}

.step1 {
	position: relative;
	padding:78px 0 68px;
	@include media('<desktop') {
		padding:30px 0;
	}
	@include media('<tablet') {
		padding:30px 0 40px;
	}
	.img-holder {
		float:right;
		width:55%;
		margin:32px 0 0;
		position:relative;
		@include media('<desktop') {
			width:48%;
			margin:10px 0 0;
		}
		@include media('<tablet') {
			margin:0;
			padding: 0 22px 0 13px;
			width:100%;
		}
		figure {
			margin: 0;
		}
	}
	.text-holder {
		position:relative;
		float:left;
		width:40%;
		margin-bottom: 20px;
		@include media('<desktop') {
			width:48%;
		}
		@include media('<tablet') {
			padding:0 0 0 49px;
			margin:0 0 29px;
			width:100%;
		}
	}
	.number {
		left: -31px;
		top: 14px;
	}
	.title {
		h2 {
			font-size: 43px;
			line-height:45px;
			margin-bottom:50px;
			@include media('<desktop') {
				font-size:22px;
				line-height:24px;
				margin:0 0 20px;
			}
			@include media('<tablet') {
				font-size:29px;
				line-height:31px;
			}
		}
	}
}

.step4,
.step2 {
	background-size: cover;
	padding:65px 0 220px;
	position: relative;
	@include media('<desktop') {
		padding:30px 0;
	}
	@include media('<tablet') {
		padding:30px 0 90px;
	}
	.wrap-box {
		@include media('<tablet') {
			display: flex;
			flex-direction: column-reverse;
			flex-wrap: nowrap;
			justify-content: flex-end;
		}
	}
	.text-holder {
		float:right;
		width:41%;
		margin:77px 0 0;
		position:relative;
		@include media('<desktop') {
			width:48%;
			margin:0 0 20px;
		}
		@include media('<tablet') {
			width:100%;
		}
	}
	.img-holder {
		float: left;
		width: 57%;
		position: relative;
		margin: 0 0 0 -20px;
		@include media('<desktop') {
			width:48%;
			margin:0;
		}
		@include media('<tablet') {
			padding: 0 16px 0 9px;
			width:100%;
		}
		figure {
			margin: 0;
		}
	}
	.title {
		.number {
			left: auto;
			right: -181px;
			top: 20px;
			@include media('<widescreen') {
				right:0;
				left:auto;
			}
		}
	}
	.btn-plus {
		top: 23px;
		left: 51px;
		@include media('<phone') {
			top: 20px;
			left: 40px;
		}
	}
	.title {
		h2 {
			font-size: 45px;
			line-height:47px;
			margin-bottom: 51px;
			@include media('<desktop') {
				font-size:22px;
				line-height:24px;
				margin:0 0 20px;
			}
			@include media('<phone') {
				font-size:29px;
				line-height:31px;
			}
		}
	}
}

.step3 {
	background: url('../images/img-transition-plume3.png') top center repeat-x, url('../images/bg-wood.png') top center no-repeat;
	background-size:  auto, cover,;
	position: relative;
	padding:116px 0 75px;
	@include media('<tablet') {
		padding:65px 0 38px;
	}
	.decor1 {
		right: -96px;
		top: -172px;
		z-index:4;
	}
	.decor2 {
		left: -47px;
		top: -255px;
		z-index:4;
	}
	.text-holder {
		color:#fff;
		float:left;
		width:40%;
		margin-bottom: 20px;
		position: relative;
		@include media('<desktop') {
			width:48%;
		}
		@include media('<tablet') {
			padding:0 0 0 50px;
			margin:0 0 51px;
			width:100%;
		}
	}
	.img-holder {
		float:right;
		width:55.5%;
		position:relative;
		margin: 59px 0 0;
		@include media('<desktop') {
			width:48%;
			margin:20px 0 0;
		}
		@include media('<tablet') {
			margin:0;
			padding:0 18px;
			width:100%;
		}
		figure {
			margin: 0;
		}
		.under-mask {
			background-color: rgba(0, 0, 0, 0.4);
		}
	}
	.btn-plus {
		left: auto;
		right: 140px;
		top: 50px;
	}
	.title {
		.number {
			left: -28px;
			opacity: 0.4;
			top: 16px;
			@include media('<desktop') {
				left:-15px;
			}
		}
		h2 {
			font-size: 50px;
			margin-bottom: 48px;
			@include media('<desktop') {
				font-size:22px;
				line-height:24px;
				margin:0 0 20px;
			}
			@include media('<tablet') {
				font-size:29px;
				line-height:31px;
			}
			span {
				color: #fff;
			}
		}
	}
}

.step4 {
	background: url('../images/bg-acteurVieRurale.png') no-repeat center top;
	padding:90px 0 60px;
	margin:0;
	background-size: cover;
	@include media('<tablet') {
		padding:30px 0 67px;
	}
	.text-holder {
		margin:0;
	}
	.img-holder {
		width:55.5%;
		margin:55px 0 0 -20px;
		@include media('<desktop') {
			width:48%;
			margin:20px 0 0;
		}
		@include media('<tablet') {
			width:100%;
		}
	}
	.btn-plus{
		top: 44px;
		left: auto;
		right: 126px;
	}
	.title {
		h2 {
			font-size: 45px;
			line-height: 50px;
			margin-bottom: 46px;
			@include media('<desktop') {
				font-size:22px;
				line-height:24px;
				margin:0 0 20px;
			}
			@include media('<tablet') {
				font-size:29px;
				line-height:31px;
			}
		}
	}
}