.modal-box {
	.slide-block {
		background-color: #fff;
		height: 100%;
		opacity: 0;
		padding: 50px 40px;
		position: absolute;
		top: 0;
		visibility: hidden;
		width: 100%;
		z-index: 10;
		transition: all 0.5s ease;
		overflow: auto;
		@include media('<tablet') {
			padding:40px 0;
		}
		.box1,
		.box2 {
			width:50%;
			padding:0 20px;
			float:left;
			margin:0 0 20px;
			@include media('<tablet') {
				width:100%;
			}
			p {
				margin:0 0 5px;
				@include media('<tablet') {
					margin:0;
				}
			}
			img {
				width:100%;
			}
		}
		.box2 {
			float:right;
		}
		.box3 {
			width:100%;
			clear:both;
			padding:0 20px;
			p {
				margin:0 0 5px;
			}
			img {
				width:100%;
			}
		}
		&.sliding {
			opacity: 1;
			visibility: visible;
		}
		.scroll-block {
			height: 100%;
			width:100% !important;
			outline: none;
			position: relative;
		}
		img {
			height: auto;
			max-width: 100%;
		}
		p {
			color: #000;
			font-family: $fontLato;
			font-size: 14px;
			line-height: 1.35em;
			margin: 0;
		}
		&.left-slide-block {
			left: -100%;
			&.sliding {
				left: 0;
			}
		}
		&.right-slide-block {
			right: -100%;
			&.sliding {
				right: 0;
			}
		}
	}
}