.step-holder {
	.text-holder {
		color:#000;
	}
	.img-holder {
		figure {
			position: relative;
			img {
				max-width: 100%;
				position: relative;
				z-index: 2;
			}
		}
	}
	.title {
		h2 {
			color: #f05238;
			font-family: $fontMuseoSans;
			font-size: 24px;
			font-weight: 900;
			line-height: 100%;
			margin: 0;
			position: relative;
			text-transform: uppercase;
			z-index: 1;
			@include media('<desktop') {
				font-size:22px;
				line-height:24px;
			}
			@include media('<tablet') {
				font-size:29px;
				line-height:31px;
			}
			span {
				color: #000;
			}
		}
	}
	h3 {
		margin: 0;
	}
	p {
		font-family: $fontLato;
		font-size: 14px;
		line-height: 1.35em;
		margin: 0;
		@include media('<tablet') {
			font-size:13px;
			line-height:15px;
		}
	}
	img {
		width:100%;
	}
}

.under-mask {
	background-color: #eee;
	display: block;
	height: 100%;
	position: absolute;
	left: 16px;
	width: 100%;
	z-index: 1;
	transition: top 0.5s;
	@include media('<tablet') {
		top:10px !important;
		left:10px !important;
	}
}

.step1 {
	position: relative;
	padding:78px 0 68px;
	@include media('<desktop') {
		padding:30px 0;
	}
	@include media('<tablet') {
		padding:30px 0 40px;
	}
	.img-holder {
		float:right;
		width:55%;
		margin:32px 0 0;
		position:relative;
		@include media('<desktop') {
			width:48%;
			margin:10px 0 0;
		}
		@include media('<tablet') {
			margin:0;
			padding: 0 22px 0 13px;
			width:100%;
		}
		figure {
			margin: 0;
		}
	}
	.text-holder {
		position:relative;
		float:left;
		width:40%;
		margin-bottom: 20px;
		@include media('<desktop') {
			width:48%;
		}
		@include media('<tablet') {
			padding:0 0 0 49px;
			margin:0 0 29px;
			width:100%;
		}
	}
	.number {
		left: -31px;
		top: 14px;
		@include media('<desktop') {
			left:70px;
		}
		@include media('<tablet') {
			top:12px;
			left: -14px;
		}
	}
	.title {
		h2 {
			font-size: 43px;
			line-height:45px;
			margin-bottom:50px;
			@include media('<desktop') {
				font-size:22px;
				line-height:24px;
				margin:0 0 20px;
			}
			@include media('<tablet') {
				font-size:29px;
				line-height:31px;
			}
		}
	}
}

.step4,
.step2 {
	background-size: cover;
	padding:65px 0 220px;
	position: relative;
	@include media('<desktop') {
		padding:30px 0;
	}
	@include media('<tablet') {
		padding:30px 0 90px;
	}
	.wrap-box {
		@include media('<tablet') {
			display: flex;
			flex-direction: column-reverse;
			flex-wrap: nowrap;
			justify-content: flex-end;
		}
	}
	.text-holder {
		float:right;
		width:41%;
		margin:77px 0 0;
		position:relative;
		@include media('<desktop') {
			width:48%;
			margin:0 0 20px;
		}
		@include media('<tablet') {
			width:100%;
		}
	}
	.img-holder {
		float: left;
		width: 57%;
		position: relative;
		margin: 0 0 0 -20px;
		@include media('<desktop') {
			width:48%;
			margin:0;
		}
		@include media('<tablet') {
			padding: 0 16px 0 9px;
			width:100%;
		}
		figure {
			margin: 0;
		}
	}
	.number {
		left: auto;
		right: -181px;
		top: 20px;
		@include media('<desktop') {
			right:-80px;
		}
		@include media('<tablet') {
			right: -42px;
			top:10px;
			left:auto;
		}
	}
	.btn-plus {
		top: 23px;
		left: 51px;
		@include media('<phone') {
			top: 20px;
			left: 40px;
		}
	}
	.title {
		h2 {
			font-size: 50px;
			line-height:50px;
			margin-bottom: 51px;
			@include media('<desktop') {
				font-size:22px;
				line-height:24px;
				margin:0 0 20px;
			}
			@include media('<phone') {
				font-size:29px;
				line-height:31px;
			}
		}
	}
}

.step3 {
	background: url('../images/img-transition-plume3.png') top center repeat-x, url('../images/bg-wood.png') top center no-repeat;
	background-size:  auto, cover,;
	position: relative;
	padding:116px 0 75px;
	@include media('<tablet') {
		padding:65px 0 38px;
	}
	.decor1 {
		position: absolute;
		right: -96px;
		top: -172px;
		z-index:4;
		@include media('<tablet') {
			display:none;
		}
	}
	.decor2 {
		position: absolute;
		left: -47px;
		top: -255px;
		z-index:4;
		@include media('<tablet') {
			display:none;
		}
	}
	.text-holder {
		color:#fff;
		float:left;
		width:40%;
		margin-bottom: 20px;
		position: relative;
		@include media('<desktop') {
			width:48%;
		}
		@include media('<tablet') {
			padding:0 0 0 50px;
			margin:0 0 51px;
			width:100%;
		}
	}
	.img-holder {
		float:right;
		width:55.5%;
		position:relative;
		margin: 59px 0 0;
		@include media('<desktop') {
			width:48%;
			margin:20px 0 0;
		}
		@include media('<tablet') {
			margin:0;
			padding:0 18px;
			width:100%;
		}
		figure {
			margin: 0;
		}
		.under-mask {
			background-color: rgba(0, 0, 0, 0.4);
		}
	}
	.btn-plus {
		left: auto;
		right: 140px;
		top: 50px;
	}
	.title {
		.number {
			left: -28px;
			opacity: 0.4;
			top: 16px;
			@include media('<desktop') {
				left:68px;
			}
			@include media('<tablet') {
				left:auto;
			}
		}
		h2 {
			font-size: 50px;
			margin-bottom: 48px;
			@include media('<desktop') {
				font-size:22px;
				line-height:24px;
				margin:0 0 20px;
			}
			@include media('<tablet') {
				font-size:29px;
				line-height:31px;
			}
			span {
				color: #fff;
			}
		}
	}
}

.step4 {
	background: url('../images/bg-acteurVieRurale.png') no-repeat center top;
	padding:90px 0 60px;
	margin:0;
	background-size: cover;
	@include media('<tablet') {
		padding:30px 0 67px;
	}
	.text-holder {
		margin:0;
	}
	.img-holder {
		width:55.5%;
		margin:55px 0 0 -20px;
		@include media('<desktop') {
			width:48%;
			margin:20px 0 0;
		}
		@include media('<tablet') {
			width:100%;
		}
	}
	.btn-plus{
		top: 44px;
		left: auto;
		right: 126px;
	}
	.title {
		h2 {
			font-size: 45px;
			line-height: 50px;
			margin-bottom: 46px;
			@include media('<desktop') {
				font-size:22px;
				line-height:24px;
				margin:0 0 20px;
			}
			@include media('<tablet') {
				font-size:29px;
				line-height:31px;
			}
		}
	}
}

//*********************page exploiatioms ****************//

.step1 {
	#exploitations & {
		background-size: cover;
		position: relative;
		z-index: 1;
		padding:114px 0 130px;
		.img-holder {
			width: 55%;
			margin: 83px -15px 0px 0;
			@include media('<desktop') {
				width:48%;
				margin:20px 0 0;
			}
			@include media('<tablet') {
				width:100%;
			}
		}
		.text-holder {
			p {
				margin:0 0 2px;
			}
		}
		.number {
			left: -28px;
			top: 22px;
			@include media('<tablet') {
				left:50%;
			}
		}
		.btn-plus {
			left: auto;
			right: 58px;
			top: 15px;
		}
		.decor {
			position:absolute;
			right:0;
			top:20px;
		}
		h2 {
			line-height:38px;
			@include media('<desktop') {
				font-size:22px;
				line-height:24px;
			}
			@include media('<phone') {
				font-size:29px;
				line-height:31px;
			}
			span {
				font-size:29px;
				line-height:31px;
			}
		}
		h3 {
			color: #000;
			font-family: $fontMuseoSans;
			font-size: 16px;
			font-weight: 900;
			text-transform: uppercase;
		}
	}
}

.economes-block {
	background-color: #f7f6f2;
	position:relative;
	.decor1 {
		position:absolute;
		right: -95px;
		top:50%;
		transform:translateY(-50%);
	}
	.decor2 {
		position:absolute;
		left: -55px;
		top: -190px;
	}
	.baner-holder {
		background-size:cover;
		background-position: 50% 50%;
		height:280px;
		margin:0 0 109px;
	}
	.text-holder {
		text-align:center;
		margin:0 0 77px;
		@include media('<desktop') {
			margin:0 0 20px;
		}
		p {
			margin:0;
		}
	}
	.title {
		margin:0 0 54px;
		h2 {
			font-size:43px;
			@include media('<desktop') {
				font-size:22px;
				line-height:24px;
			}
			@include media('<phone') {
				font-size:29px;
				line-height:31px;
			}
		}
	}
	.listing-block {
		display:flex;
		justify-content: space-between;
		.box {
			display:flex;
			flex-direction: column;
			width:30%;
		}
		h3 {
			font: 40px/38px "mochaMattari-regular";
			margin:0 0 22px;
		}
	}
	.text-box {
		flex: auto;
		font-family:$fontLato;
	}
	.img-box {
		text-align:center;
		a {
			display:block;
			>img {
				display:none;
			}
			#popup-text {
				display:none;
			}
		}
		a:hover {
			img {
				display:none;
			}
			img.hover-img {
				display:inline-block;
			}
		}
	}
	.hover-img {
		display:none;
	}
}

.step3 {
	#exploitations & {
		background:  url('../images/img-transition-plume2.png') top center repeat-x, url('../images/bg-wood.png') top center no-repeat;
		background-size: auto, cover;
		padding:100px 0 26px;
		color:#fff;
		.decor {
			position:absolute;
			left:58%;
			top:50%;
			transform:translate(-50%,-50%);
		}
		.two-column {
			display:flex;
			justify-content: space-between;
			margin:0 0 40px;
			position:relative;
		}
		.block {
			width:41%;
		}
		.wrap-btn {
			text-align:center;
		}
		.title {
			h2 {
				font-size:40px;
				@include media('<desktop') {
					font-size:22px;
					line-height:24px;
				}
				@include media('<phone') {
					font-size:29px;
					line-height:31px;
				}
			}
		}
		h3 {
			font: 40px/42px "mochaMattari-regular";
			color:#fff;
			text-transform:uppercase;
			margin:0 0 15px;
		}
		p {
			margin:0 0 30px;
		}
	}
}