/* video style */

#videoContainer {
    width: 100%;
    margin: 0;
    height: 100%;
    position: relative;
    background-color: black;
    cursor: pointer;
    .storyBtn {
        right: 14.5%;
        position: absolute;
        top: 43.3%;
        z-index: 10;
        border: 0;
        background-color: $rouge;
        color: white;
        font-size: 40px;
        width: 36px;
        height: 36px;
        transform: rotate(45deg);
        cursor: pointer;
        padding: 0;
        @include media('<tablet') {
            top: 23%;
            right: 20px;
        }
        &:before {
            content: ' +';
            position: relative;
            display: block;
            transform: rotate(45deg);
            font-size: 36px;
            line-height: 1;
            width: 36px;
            height: 36px;
            text-align: center;
            position: absolute;
            top: 0;
            left: 1px;
            right: 0;
            bottom: 0;
        }
        &:after {
            opacity: 0;
            border: 2px solid #ffffff;
            content: "";
            height: 49px;
            left: -7px;
            position: absolute;
            display: block;
            top: -7px;
            width: 49px;
            transition: opacity 0.1s linear;
        }
        &:hover:after {
            opacity: 1.0;
        }
    }
    .textVideo {
        position: absolute;
        bottom: 11.3%;
        left: 8%;
        z-index: 10;
        color: white;
        display: none;
        pointer-events: none;
        max-width: 400px;
        @include media('<tablet') {
            bottom: 15%;
        }
        @include media('<phone') {
            max-width: 290px;
            left: 5%;
        }
        h2 {
            font-size: 55px;
            font-family: $fontMuseoSans;
            font-weight: 300;
            margin-bottom: 10px;
            line-height: 0.9;
            @include media('<desktop') {
                font-size: 40px;
            }
            @include media('<tablet') {
                font-size: 30px;
            }
            @include media('<phone') {
                font-size: 24px;
            }
        }
    }
    #progressBar {
        position: absolute;
        z-index: 1;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 40px;
        background-color: white;
        height: 2px;
        width: 41%;
        @include media('<desktop') {
            width: 60%;
        }
        @include media('<tablet') {
            width: 80%;
            bottom: 55px;
        }
        @include media('<phone') {
            width: 90%;
        }
        #jauge {
            width: 0%;
            height: 100%;
            background-color: $rouge;
        }
        .chapter {
            background-color: #ffffff;
            border-radius: 50%;
            height: 14px;
            position: absolute;
            top: -6px;
            width: 14px;
            @include media('<desktop') {
                width: 12px;
                height: 12px;
                top: -5px;
            }
            @include media('<phone') {
                width: 10px;
                height: 10px;
                top: -4px;
            }
            &.active {
                background-color: $rouge;
            }
            &:before {
                opacity: 0;
                border: 2px solid #ffffff;
                border-radius: 50%;
                content: "";
                height: 28px;
                left: -7px;
                position: absolute;
                top: -7px;
                width: 28px;
                transition: opacity 0.2s linear;
            }
            &:hover:before {
                opacity: 1.0;
            }
        }
    }
}
