/* video holder style */

.video-holder {
    margin: 0 0 104px;
    text-align:center;
    @include media('<tablet') {
        margin-bottom: 29px;
    }
    .btn {
        padding: 16px;
        background: $black;
        max-width: 420px;
        min-width:420px;
        margin: 0 auto 23px;
        display:inline-block;
        vertical-align:middle;
        padding: 14px 5px 11px;
        @include media('<tablet') {
            min-width:0;
            max-width:100%;
            width:100%;
        }
        h2 {
            font: 20px/ 26px 'lato';
            color: $white;
            margin: 0;
            font-weight: 600;
             @include media('<desktop') {
                font-size: 18px;
             
             }
        }
    }
    .two-column {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .box {
            width: 49%;
            position: relative;
            @include media('<tablet') {
                width: 100%;
                margin-bottom: 19px;
            }
            &:after {
                content: '';
                position: absolute;
                display: inline-block;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 2;
                background: rgba($black, .4);
            }
            &:hover .video-play-btn {
                opacity: 1;
                z-index: 5;
                visibility: visible;
            }
        }
        text-align:center;
        h2 {
            font: 30px/ 32px 'mochamattariw';
            color: $white;
            margin: 0;
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            padding: 15px 45px;
            z-index: 4;
            @include media('<tablet') {
                font-size: 19px;
                line-height: 1.1;
            }
        }
        img {
            width: 100%;
            vertical-align: middle;
        }
    }
    .video-play-btn {
        @include animate(opacity visibility border-color);
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: auto;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;
        display: inline-block;
        width: 60px;
        height: 60px;
        font-size: 0;
        text-indent: -9999px;
        border-radius: 50%;
        border: 4px solid rgba($white, .5);
        box-shadow: inset 0px 0px 12px 0px rgba(255, 255, 255, 0.75), 0px 0px 12px 0px rgba(255, 255, 255, 0.75);
        @include media('<desktop') {
            @include animate(border-color);
            visibility: visible;
            opacity: 0 !important;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: auto;
            height: auto;
            transform: translate(0);
        }
        &:hover {
            border-color: rgba($black, .8);
            &:after {
                @include triangle(21px 15px, rgba($black, .58), right);
            }
        }
        &:after {
            @include animate(border-color);
            position: absolute;
            content: '';
            top: 50%;
            left: 55%;
            transform: translate(-50%, -50%);
            @include triangle(21px 15px, rgba($white, .5), right);
            z-index: 10;
        }
        &:before {
            position: absolute;
            content: '';
            top: 50%;
            left: 55%;
            transform: translate(-50%, -50%);
            width: 1px;
            height: 1px;
            background: transparent;
            z-index: 9;
            box-shadow: 0px 0px 22px 7px rgba(255, 255, 255, 0.75);
        }
    }
}

#fancybox-loading,
.fancybox-close,
.fancybox-prev span,
.fancybox-next span {
    background-image: url('../images/fancybox_sprite.png');
}

.fancybox-nav {
    background: transparent url('../images/blank.gif');
}

.fancybox-overlay {
    background: url('../images/fancybox_overlay.png');
}

#fancybox-loading div {
    background: url('../images/fancybox_loading@2x.gif') center center no-repeat;
}

.fancybox-lock {
   background:rgba(0,0,0,.8);
}
