#wrapper{
	overflow: hidden;
}

.container{
	@extend %clearfix;
	max-width:1010px;
	padding: 0 20px;
	margin: 0 auto;
	@include media('<tablet') {
		padding:  0 15px;
		
	}
	@include media('<phone') {
		padding: 0 10px;
	}
}
.nav-active{
	overflow: hidden;
}

/*title number style */

.home {
	.visible{
		opacity: 0;
		transition:1.5s cubic-bezier(.44,.47,.23,1) ;
	}
}

.sr {
	.sr-item{
		visibility: hidden;
	}
}

.number {
	font:128px/128px 'museo_sans';
	position:absolute;
	left: 50%;
	top: 28%;
	transform:translate(-50%,-50%);
	color:#eee;
	z-index:-1;
}

.title {
	position:relative;
	.number {
		color: #000;
		display: inline-block;
		font-family: "museo_sans";
		font-weight: 900;
		font-size: 125px;
		line-height: 100%;
		margin: 0;
		opacity: 0.1;
		position: absolute;
		z-index: 0;
		@include media('<widescreen') {
			left:0;
			transform: translate(0,-50%);
		}
		@include media('<desktop') {
			font-size:70px;
			line-height:72px;
		}
		@include media('<tablet') {
			left:-41px;
			font-size: 64px;
			line-height: 66px;
		}
		#section1 &{
			@include media('<widescreen') {
				left: 50%;
				transform: translate(-50%,-50%);
			}
		}
	}
	h2 {
		color: #f05238;
		font-family: $fontMuseoSans;
		font-size: 24px;
		font-weight: 900;
		line-height: 100%;
		margin: 0;
		position: relative;
		text-transform: uppercase;
		z-index: 1;
		span {
			color: #000;
		}
	}
}

/*box-shadow mask style */
.skrollr-mobile {
	overflow:visible !important;
	body, .modal-open {
		overflow:visible !important;
	}
}

.under-mask {
	background-color: #eee;
	display: block;
	height: 100%;
	position: absolute; 
	left: 16px;
	width: 100%;
	z-index: 1;
	transition: top 0.5s;
	@include media('<desktop') {
		top:10px !important;
		left:10px !important;
	}
}

.decor1,
.decor2,
.decor3 {
	position:absolute;
	@include media('<tablet') {
		display:none;
	}
}

.modal-content{
	z-index: 999;
}

.containsvg {
	@include media('<tablet') {
		display:none;
	}
}

.containsvg-mobile {
	display:none;
	@include media('<tablet') {
		display:block;
		padding:0 20px 55px;
	}
}