/* footer style */

#footer {
	height:83px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
	background:url("../images/footer-nav-bg.png") 0 100% no-repeat;
	position:relative;
	z-index:1;
	margin:-83px 0 0;
	@include media('<tablet') {
		height:75px;
		margin:0;
		background:none;
	}
}

/* footer navigation style */

.nav-footer {
	@extend %listreset;
	@extend %clearfix;
	font: 12px/14px $base-font-sans-serif,'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
	text-transform:uppercase;
	padding:0 16px 6px;
	@include media('<tablet') {
		font-size:10px;
		line-height:12px;
		width:100%;
		padding:0 10px 8px;
		display:flex;
		justify-content: space-between;
	}
	li {
		margin: 0 20px 0 0;
		float:left;
		position:relative;
		@include media('<tablet') {
			margin:0;
		}
		span {
			@include media('<tablet') {
				display:none;
			}
		}
		&:hover {
			.logo-mobile {
				display:block;
			}
		}
	}
	a {
		color:$black;
		text-decoration:none;
		&:hover {
			color: $scarlet;
		}
	}
}

/* logo mobile footer */

.logo-mobile {
	display:none;
	position:absolute;
	left: 16px;
	top: -72px;
	width: 50px;
	@include media('<tablet') {
		display:block;
		width:31px;
		top:-48px;
		left: 16px;
	}
	img {
		width:100%;
		vertical-align:top;
	}
}