/* footer style */

#footer {
	height:83px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
	background:url("../images/footer-nav-bg.png") 0 100% no-repeat;
	position:relative;
	z-index:1;
	margin:-83px 0 0;
	@include media('<tablet') {
		height:75px;
		margin:0;
		background:none;
	}
}

.nav-footer {
	@extend %listreset;
	font: 12px/14px $base-font-sans-serif,'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
	text-transform:uppercase;
	padding:0 16px 6px;
	overflow:hidden;
	@include media('<tablet') {
		font-size:10px;
		line-height:12px;
		width:100%;
		padding:0 10px 8px;
		display:flex;
		justify-content: space-between;
	}
	li {
		margin: 0 20px 0 0;
		float:left;
		@include media('<tablet') {
			margin:0;
		}
		span {
			@include media('<tablet') {
				display:none;
			}
		}
	}
	a {
		color:$black;
		text-decoration:none;
	}
}

.logo-mobile {
	display:none;
	@include media('<tablet') {
		display:block;
		padding:0 0 0 27px;
	}
}