/* button style */

.close-modal {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 2;
	transition: opacity 0.3s;
	border:none;
	background:none;
	color: #fff;
	font-size: 25px;
	margin: 0;
	opacity: 1;
	text-decoration: none;
	@include media('<tablet') {
		right:auto;
		left: 4px;
		top: 2px
	}
	&:hover {
		opacity:.8;
	}
	&:focus {
		outline:none;
	}
	i {
		color: #fff;
		font-size: 25px;
		@include media('<tablet') {
			font-size:21px;
		}
	}
}

.close-text {
	@include animate (opacity);
	font-size: 23px;
	font-weight: 900;
	position: absolute;
	font-family: "lato", arial, sans-serif;
	right: 37px;
	top: 0;
	color: #F05236;
	cursor: pointer;
	@include media('<tablet') {
		right:20px;
	}
	&:hover {
		opacity: 0.7;
	}
}

.btn-plus {
	@include animate(transform);
	display: inline-block;
	position: absolute;
	z-index: 2;
	top: 34px;
	left: 129px;
	&:hover {
		transform: scale(1.1);
	}
	i {
		color: #f05238;
		display: inline-block;
		font-size: 53px;
		z-index: 0;
		@include media('<phone') {
			font-size:21px;
		}
		&:before {
			position: relative;
			z-index: 2;
		}
		&:after {
			@include animate(transform);
			background-color: #fff;
			content: '';
			display: inline-block;
			height: 20px;
			width: 20px;
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -10px 0 0 -10px;
			z-index: 1;
			transform: rotate(45deg);
			@include media('<phone') {
				margin: -9px 0 0 -7px;
				width:13px;
				height:13px;
			}
		}
	}
}

.btn {
	@include animate(background color);
	font: 900 20px/22px "lato", arial, sans-serif;
	text-transform:uppercase;
	background: $rouge;
	color:#fff;
	min-width:490px;
	display:inline-block;
	vertical-align:middle;
	padding:15px 10px;
	position:relative;
	border:none;
	@include media('<tablet') {
		font-size:15px;
		line-height:17px;
		min-width:250px;
	}
	@include media('<phone') {
		width:250px;
		padding:5px;
	}
	&:hover {
		background:#fff;
		color:$rouge;
	}
	&.btn-black {
		color:#fff;
		background:#000;
		&:hover {
			color:#fff;
			background:$rouge;
		}
	}
}