/* button style */

.close-modal {
	transition: opacity 0.3s;
	border:none;
	background:none;
	color: #fff;
	font-size: 25px;
	margin: 0;
	opacity: 1;
	text-decoration: none;
	&:hover {
		opacity:.8;
	}
	&:focus {
		outline:none;
	}
	i {
		color: #fff;
		font-size: 25px;
	}
}

.close-text {
	@include animate (opacity);
	font-size: 23px;
	font-weight: 900;
	position: absolute;
	font-family: "lato", arial, sans-serif;
	right: 0;
	top: -33px;
	color: #F05236;
	cursor: pointer;
	&:hover {
		opacity: 0.7;
	}
}

.btn-plus {
	@include animate(transform);
	display: inline-block;
	position: absolute;
	z-index: 2;
	top: 34px;
	left: 129px;
	&:hover {
		transform: scale(1.1);
	}
	i {
		color: #f05238;
		display: inline-block;
		font-size: 53px;
		z-index: 0;
		&:before {
			position: relative;
			z-index: 2;
		}
		&:after {
			@include animate(transform);
			background-color: #fff;
			content: '';
			display: inline-block;
			height: 20px;
			width: 20px;
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -10px 0 0 -10px;
			z-index: 1;
			transform: rotate(45deg);
		}
	}
}

.btn {
	@include animate(background color);
	font: 900 20px/22px "lato", arial, sans-serif;
	text-transform:uppercase;
	background: $rouge;
	color:#fff;
	min-width:490px;
	display:inline-block;
	vertical-align:middle;
	padding:15px 10px;
	position:relative;
	&:hover {
		background:#fff;
		color:$rouge;
	}
}