// forms

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
//input[type='url'],
// input[type='date'],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  box-sizing: border-box;
  border: 1px solid $form-element-border-color;
  padding: $form-element-padding;

  // &:hover {
    
  // }

  &:focus {
    border-color: $form-element-focus-border-color;
  }

  @include placeholder {
    color: $placeholder-color;
  }
}

select {
  -webkit-border-radius: 0;
}

textarea {
  resize: vertical; 
  vertical-align: top;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  cursor: pointer;
}

/* custom select */

.jcf-select {
  width: 100%;
  background: #e6e6e6;
  border-color: #e6e6e6;
  margin-bottom: 0;
  height: 35px;
  line-height: 35px;
  &.jcf-drop-active {
    .jcf-select-opener:after {
      transform:rotate(-45deg) translate(-50%, -50%);
    }
  }
  .jcf-select-text {
    line-height: 35px;
    text-align: left;
  }
  .jcf-select-opener {
    background-color: #e6e6e6;
    width: 36px;
    &:after {
      @include animate(transform);
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 8px;
      border: 1px solid $black;
      transform-origin: 0% 0%;
      transform: rotate(135deg) translate(-50%, -50%);
      border-left: none;
      border-bottom: none;
    }
  }
}


.jcf-list {
  ul {
    li {
      border-bottom:1px solid #e6e6e6;
      &:last-child {
        border-bottom:none;
      }
    }
  }
  .jcf-option {
    font-size: 14px;
    font-weight: 700;
    padding: 13px 17px;
    color:#000;
  }
}

.jcf-focus {
  border-color: #e6e6e6 !important;
}

.jcf-select-drop {
  .jcf-select-drop-content {
    border: 1px solid #e6e6e6 !important;
  }
}