/* commence page style */

#commence-wrap {
	.production-holder {
		background-image: url(../images/decor06.png) no-repeat ;
		margin:0 0 200px;
		@include media('<tablet') {
			margin:0 0 125px;
		}
	}
	.two-column {
		p {
			margin:0;
		}
	}
	.step2 {
		background: url(../images/decor14.png) no-repeat left 10%, url(../images/decor12.png) no-repeat right bottom;
		position:relative;
		@include media('<desktop') {
			background:none;
		}
		@include media('<tablet') {
			padding:0;
		}
		h2 {
			@include media('<desktop') {
				font-size:35px;
				line-height:40px;
			}
			@include media('<tablet') {
				font-size:28px;
				line-height:30px;
			}
		}
		.title {
			text-align:center;
		}
		.containsvg {
			max-width:1055px;
			padding:0 15px;
		}
		.decor1 {
			left:-80px;
			top:50%;
		}
		.decor2 {
			right:-130px;
			top:20%;
		}
		.decor3 {
			right:40%;
			top:20%;
		}
		.decor4 {
			position:absolute;
			right:0;
			bottom:10%;
			@include media('<desktop') {
				display:none;
			}
		}
		.decor5 {
			position:absolute;
			left:10%;
			bottom:20%;
			@include media('<desktop') {
				display:none;
			}
		}
	}
}