.full-screen-video {
    height: 100vh;
    position: relative;
    .fake-play-btn {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events:none;
    }
    &:after {
        pointer-events: none;
        top: 0;
        right: 0;
        content: '';
        position: absolute;
        left: -65%;
        bottom: -65%;
        background: radial-gradient(ellipse at center, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, .1) 60%, rgba(0, 0, 0, 0) 100%);
    }
    .buttons-holder {
        position: absolute;
        right: 4px;
        bottom: 14px;
        @include media('<tablet') {
            right: auto;
            left: 50%;
            transform: translateX(-50%);
            z-index: 99;
        }
        .share-holder {
            display: inline-block;
            color: $white;
            vertical-align: middle;
        }
        button {
            display: inline-block;
            vertical-align: middle;
            line-height: 1;
            font-size: 20px;
            padding: 0;
            margin: 0 12px;
            border: none;
            background: none;
            color: $white;
            position: relative;
            overflow: hidden;
            outline: none !important;
            &.volume-off:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 1px;
                background: $white;
                width: 140%;
                transform-origin: 0 0;
                transform: rotate(45deg);
            }
        }
    }
    .logo-icon {
        position: absolute;
        top: 17px;
        right: 17px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid $white;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 26px;
        @include media('<desktop') {
            top: 10px;
            right: 10px;
        }
    }
}

.journee {}
