/* secret style */

.secret-wrap {
	background:url(../images/secter-bg.jpg) no-repeat 50% 50%;
	background-size:cover;
	&.modal-open {
		overflow:hidden;
	}
}

.secret-title {
	font:700 18px/19px $base-font-sans-serif;
	text-align:center;
	color:#fff;
	margin:40px 0;
	h1 {
		font-size:100px;
		line-height:102px;
		margin:0;
	}
	p {
		margin:0;
	}
}

.menu-list {
	padding:154px 0 87px;
	.info1,
	.info2,
	.info3 {
		position:absolute;
		text-transform:uppercase;
		color:#fff;
		font:22px/24px $fontMochaMattari;
		letter-spacing:0.5px;
	}
	.info1 {
		top: -56px;
		left: 41%;
	}
	.info2 {
		right: 93px;
		bottom: -6px;
	}
	.info3 {
		bottom: -58%;
		left: 85px;
	}
	.arrow-menu {
		display: block;
		transform: rotate(12deg);
		width: 48%;
		position: absolute;
		bottom: -88px;
		right: 46px;
	}
	.row {
		display: flex;
		justify-content: center;
		@include media('<desktop') {
			justify-content: space-between;
		}
		&:first-child{
			margin:0 0 100px;
		}
		.btn-plus:focus {
			outline:none;
		}
		img {
			width:100%;
		}
		&.row-sm {
			margin:-167px 0 296px;
			.box {
				width: 430px;
				padding: 0 29px 0 0;
			}
			.btn-plus {
				left:auto;
				right: 4px;
				top: auto;
				bottom: 70px;
			}
		}
	}
	.box {
		width:600px;
		position:relative;
		padding:0 50px;
		@include media('<widescreen') {
			width:50%;
		}
	}
	.holder {
		max-width: 945px;
		width: 100%;
		margin: 0 auto;
		position:relative;
		.text-block {
			position:absolute;
			left: 26px;
			top: 148px;
			transform: rotate(-10deg);
			text-align:center;
		}
		.img-block {
			width: 68%;
			float:right;
			position:relative;
		}
		.btn-plus {
			left: 47px;
			bottom: 45%;
			top:auto;
		}
		.title {
			font-family:$fontMochaMattari;
			font-size: 40px;
			line-height:40px;
			text-transform:uppercase;
			color:#fa6c4f;
			display:block;
			background: #fff;
			padding: 23px 59px;
			margin:0 0 14px 10px;
			max-width:280px;
		}
		.info {
			font: 48px/50px 'playlistscript';
			color:#fff;
		}
	}
	.photo-box1 {
		position: absolute;
		left: 4px;
		top: -143px;
		z-index: 1;
		transform: rotate(-25deg);
		width:43%;
		.btn-plus {
			z-index:10;
			top: auto;
			bottom: 158px;
			left: -10px;
			transform: rotate(27deg);
			z-index:5;
			&:hover {
				transform:scale(1.1) rotate(27deg);
			}
		}
	}
	.photo-box2 {
		position: absolute;
		left: 127px;
		bottom: -196px;
		z-index: 1;
		transform: rotate(5deg);
		width: 41%;
		.btn-plus {
			top:auto;
			bottom: 60px;
			left: auto;
			right: -14px;
			transform: rotate(-5deg);
			&:hover {
				transform:scale(1.1) rotate(-5deg);
			}
		}
	}
	.photo-box3 {
		position: absolute;
		transform: rotate(-29deg);
		top: 208px;
		right: -44px;
		width: 59%;
		z-index: 1;
	}
	.box-board {
		padding:0;
	}
	.img-wrap {
		position:relative;
		z-index:2;
	}
}

.secret-wrap {
	.modal {
		display:none;
	}
}

.modal-open {
	&.secret-wrap {
		#wrapper {
			max-height:none;
		}
		.modal {
			position:fixed;
			left:0;
			right:0;
			top:0;
			bottom:0;
			background:rgba(0,0,0,.68);
		}
		.btn-close {
			width:17px;
			height:17px;
			min-width:0;
			background:none;
			display:block;
			position:absolute;
			right:20px;
			top:20px;
			padding:0;
			overflow:hidden;
			z-index:10;
			&:after,
			&:before {
				@include animate(background);
				content: '';
				position:absolute;
				left:8px;
				top:0;
				width:2px;
				height:100%;
				background:#fff;
				transform: rotate(-40deg);
			}
			&:before {
				transform: rotate(40deg);
			}
			&:hover {
				&:after,
				&:before {
					background:#f05238;
				}
			}
		}
	}
}
.menu1,
.menu2,
.menu3 {
	.modal-open & {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1050;
	}
}

.swiper-slide {
	color:#fff;
	width:100%;
}
.swiper-button-next, .swiper-button-prev {
	z-index:100;
	top:50%;
	left:50px;
}
.swiper-button-next {
	left:auto;
	right:50px;
}

#block-video {
	transition: all 1s;
	animation-delay: 1s;
	opacity:0 !important;
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	.modal-open &{
		opacity:1 !important;
	}
}