/* secret style */

.secret-wrap {
	background:url(../images/secter-bg.jpg) no-repeat 50% 50%;
	background-size:cover;
	min-height:100vh;
}

.secret-title {
	text-align:center;
	color:#fff;
	margin:0 0 28px;
	p {
		margin:0;
	}
}

.menu-list {
	padding:0 0 87px;
	.row {
		display: flex;
		justify-content: center;
		@include media('<desktop') {
			justify-content: space-between;
		}
		img {
			width:100%;
		}
	}
	.box {
		width:600px;
		@include media('<widescreen') {
			width:50%;
		}
	}
	.img-holder {
		max-width:840px;
		margin:0 auto;
	}
}