.step1 {
	#tracabilite &{
		background: url(../images/decor10.png) no-repeat left 60%, url(../images/decor12.png) no-repeat right bottom;
		@include media('<desktop') {
			background:none;
		}
		.text-holder,
		.img-holder {
			width:100%;
			text-align:center;
			@include media('<tablet') {
				padding:0;
			}
		}
		.title {
			.number {
				left:50%;
				@include media('<widescreen') {
					transform: translate(-50%, -50%);
				}
			}
			h2 {
				font-size: 50px;
				line-height: 55px;
				@include media('<desktop') {
					font-size:29px;
					line-height:31px;
				}
			}
		}
		.decor1,
		.decor2 {
			left: -10px;
			top: 28%;
		}
		.decor2 {
			left:auto;
			right: -104px;
			bottom: 23%;
		}
		.decor1 {
			left: -10px;
			top: 28%;
		}
	}
}
