/* Vendors*/
@import './bower/include-media/dist/include-media';
@import 'vendors/fonts';
@import 'vendors/icon';

/* Base modules*/
@import 'base/main';

/* Components */
@import 'components/animate';
@import 'components/diagram';
@import 'components/tabs-holder';
@import 'components/banner';
@import 'components/banner-bottom';
@import 'components/video';
@import 'components/production';
@import 'components/images-list';
@import 'components/steps';
@import 'components/step-modal';
@import 'components/modal-pages';
@import 'components/video-page';
@import 'components/share';

/* Layouts */
@import 'layouts/common';
@import 'layouts/header';
@import 'layouts/footer';
@import 'layouts/navigation';



@import 'partials/animate';
@import 'partials/commun';
@import 'partials/scrollpanel';

	
.modal {
    display:block !important;
    opacity:1 !important;
    width:100% !important;
    overflow:hidden;
}

/* Pages */
@import 'pages/home';
